@page
@model CRUD_ASP_NET_MS_SQL.Pages.Clients.CreateModel
@{
    ViewData["Title"] = "Home page";
}


<br />

<div class="text-center">
    <h1>Adicionar Cliente</h1>
</div>

<br />

@if(Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade-show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="Close"></button>
    </div>
}


<form method="POST">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nome</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="name" value="@Model.clientInfo.name" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Email" value="@Model.clientInfo.email" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Telefone</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="phone" value="@Model.clientInfo.phone" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Endereço</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="address" value="@Model.clientInfo.address" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Agendamento</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="appointment" value="@Model.clientInfo.appointment" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Serviço</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="service" value="@Model.clientInfo.service" />
        </div>
    </div>

    @if (Model.successMessage.Length > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                    <div class="alert alert-success alert-dismissible fade-show" role="alert">
                    <strong>@Model.successMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="Close"></button>
                </div>
            </div>
        </div>
    }

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Cancelar</a>
        </div>
    </div>
</form>