@page
@model CRUD_ASP_NET_MS_SQL.Pages.Clients.IndexModel
@{
    ViewData["Title"] = "Lista de Clientes";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<br/>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Endereço</th>
            <th>Agendamento</th>
            <th>Serviço</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.listClients)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.email</td>
                <td>@item.phone</td>
                <td>@item.address</td>
                <td>@item.appointment</td>
                <td>@item.service</td>
                <td>
                    <a class="btn-primary btn-sm" href="/Clients/Edit?id=@item.id">Editar</a>
                    <a class="btn-danger btn-sm" href="/Clients/Delete?id=@item.id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>